aiohappyeyeballs
aiohttp
aiosignal
asttokens
attrs
certifi
charset-normalizer
colorama
comm
contourpy
cycler
datasets
debugpy
decorator
dill
executing
filelock
fonttools
frozenlist
fsspec
huggingface-hub
idna
IProgress
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
multidict
multiprocess
nest-asyncio
networkx
numpy
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
pyarrow
Pygments
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
setuptools
six
stack-data
sympy
threadpoolctl
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl
